body{
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    background-position: top right;
}
.main-title{
    text-align: center;
    text-shadow: 1px 1px 2px black;
}
.main-line{
    height: 5px;
    background-color: #50327E;
    width: 50%;
    border-radius: 10px;
}
.main-content{
    text-align: center;
    font-size: 20px;
    text-shadow: 2px 2px 3px black;
}
form{
    background-color: #50327E;
    width: 50%;
    margin: 0 auto;
    opacity: 0.65;
    padding: 30px;
    
}
.sign-in{
    color: gray;
    padding: 1%;
    text-decoration: none;
    

}
.sign-up{
    color: white;
    padding: 1%;
    text-decoration: none;
    transition: 0.5s;  
}
.action{
    text-align: center;
}
.sign-up:hover{
    border-bottom: 3px solid orange;
}
.fields input{
    margin-left: 5%;
    width: 90%;
    border-radius: 15px;
    padding: 10px 5px;
    background-color: #60428E;
    opacity: 0.9;
    outline: none;
    color: orange;
    text-align: center;
    
}
.fields p{
    text-align: center;
    color: #BBB;
}
.gender p{
    display: inline;
    padding: 5px;
    
}
.gender{
    text-align: center;
}
.gender input{
    width: auto;
}
.checkbox p{
    display: inline;
    padding: 5px;
    
}
.checkbox input{
    width: auto;
}
.checkbox{
    text-align: center;
}
.about textarea{
    resize: none;
    height: 150px;
    width: 90%;
    margin-left: 5%;
    background-color: #60428E;
    opacity: 0.9;
    border-radius: 15px;
    text-align: center;
    outline: none;
    padding: 10px 5px;
}
.button{
    background-color: orange;
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    height: 30px;
    width: 90%;    
}

.line{
    height: 5px;
    background-color: white;
    width: 91%;
    border-radius: 10px;
}